$nav-height: 50px;
$nav-width: 64px;
$nav-inner-width : 240px;

$color-nav: #2F3C4E;
$color-nav-light: #495465;
$colors: (
    'success': #25B865,
    'warning': #E6A23C,
    'danger': #F53232,
    'info': #909399,
    'white': #FFFFFF,
    'primary': #2D84FB,
    'disabled': #909399,
    'speare': #44BED0
);

$font-xs: 12px;
$font-sm: 13px;
$font-base: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 24px;